  <div class="flex justify-between items-center">
    <%= link_to restaurants_path do %>
        <h1 class="text-2xl hover:text-red-500 font-bold text-teal-400 "><%= t('app_name')%></h1>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, data:{
            turbo_method: :delete,
            turbo_confirm: t('common.confirm')}, class:"rounded-full py-3 px-5 bg-blue-600 text-white block font-medium"  %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "rounded-full py-3 px-5 bg-blue-600 text-white block font-medium" %>
        <%= link_to "Sign up", new_registration_path(resource_name) %>
    <% end %>
    <%= link_to 'New restaurant', new_restaurant_path, class: "rounded-full py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>