
<%= turbo_frame_tag 'restaurants' do%>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Reservations</h1>
  </div>

  
  <div id="reservations" class="min-w-full">
    <%= link_to t('all'), reservations_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
      <%= turbo_frame_tag  "reservations-#{@pagy.page}", class: 'reservations' do %>
        <%= render partial: 'restaurant', collection: @restaurants %>
        <%= render @reservations %>
        <%= turbo_frame_tag "reservations-#{@pagy.next}", class: 'reservations', 
            src: pagy_url_for(@pagy, @pagy.next), 
            loading: :lazy if @pagy.next %>
    <% end %>
  </div>
<% end%>
